body {
    font-family: verdana:
    background-color; 000233255
        } 
h1 {
    color: rgb (255.255.255): 
h1 {
    "color:blue," }
p {
    text-align: center;
        }
p {
    border: 2 px solid black;
    padding: 12px;    
        }
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
    margin: 30px;
        }
  	